%link{rel: 'import', href: '../../../bower_components/iron-pages/iron-pages.html'}

%link{rel: 'import', href: '../opening-screen/opening-screen.html'}
%link{rel: 'import', href: '../loading-screen/loading-screen.html'}

%dom-module#senpai-app
  %template
    / inject-style src="app/app.css"

    %iron-pages#screens{selectable: '.screen', 'attr-for-selected': 'screen-name', selected: 'loading'}
      %senpai-loading-screen.screen{'screen-name': 'loading'}
      %senpai-opening-screen.screen{'screen-name': 'opening'}

  %script{src: 'app.js'}
