%link{rel: 'import', href: '../base/base.html'}

%dom-module#senpai-loading-screen
  %template
    / inject-style src="loading-screen/loading-screen.css"

    %img#logo{src: '/assets/images/logo_hollow_black.png'}

  %script{src: 'loading-screen.js'}
